/* ----for random-img---- */
.random-img {
    height: 20vh;
    max-width: 70vw;
}

/* --TABLET-- */
@media screen and (min-width: 481px) {
    .random-img {
        height: 30vh;
        max-width: 40vw;
    }
}

/* --DESKTOP-- */
@media screen and (min-width: 960px) {
    .random-img {
        max-width: none;
    }
}