input {
    background: none;
    padding: 5px;
    border: 1px solid rgb(114, 74, 74);
    border-radius: 3px;
}

input::placeholder { /* change color of the placeholder */
    color: rgba(53, 33, 33, 0.497);
  }