/* ----for Dog Breed Img Page---- */
.breed-box { /* boxmodel */
    background-color: rgba(255, 192, 203, 0.484);
    margin: 20px;
    padding: 20px;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

/* --TABLET-- */
@media screen and (min-width: 481px) {
    .breed-box {
        flex-direction: row;
        justify-content: space-between;
    }
}

/* --DESKTOP-- */
@media screen and (min-width: 960px) {
    .breed-box {
        max-width: 70vw;
    }
}



.breed-img {
    height: 20vh;
    max-width: 70vw;
}

/* --TABLET-- */
@media screen and (min-width: 481px) {
    .breed-img {
        height: 30vh;
        max-width: 60vw;
    }
}

/* --DESKTOP-- */
@media screen and (min-width: 960px) {
    .breed-img {
        max-width: none;
    }
}



.breed-box-left {
    text-align: center;
}

.breed-box-left h2 {
    text-shadow: 0.5px 0.5px 1px rgba(168, 49, 49, 0.518); /* h-shadow v-shadow blur-radius color */
}

.share-text {
    background-color: rgba(162, 8, 8, 0.422);
    border-radius: 10px;
    padding: 5px;
}

.link-home {
    text-decoration: none;
    font-weight: bold;
    color: rgb(53, 53, 53);
}

.link-home:hover {
    background-color: rgba(0, 0, 255, 0.379);
}