/* ----for top page---- */

.top-box {
    background-color: rgba(255, 192, 203, 0.484);
    margin: 20px;
    padding:20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

/* --TABLET-- */
@media screen and (min-width: 481px) {
    .top-box {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
    }
}

/* --DESKTOP-- */
@media screen and (min-width: 960px) {
    .top-box {
       /* 960px以上に適用されるCSS（PC用） */
       max-width: 70vw;
    }
}