/* for App (top) page */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root {
  --main-font: 'Inter', sans-serif;
}


.whole {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-image: url(imgs/back-dog.jpg);
  background-size: cover;
  min-height: 100vh;
  font-family: var(--main-font);
}
