/* for App (top) page */

.whole {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-image: url(imgs/back-dog.jpg);
  background-size: cover;
  min-height: 100vh;
}
